In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("movierating.csv")

In [5]:
data

,Unnamed: 0,user0,user1,user2,user3,user4,user5,user6,user7,user8,user9
0,movie1,0,0,3,4,2,1,2,0,5,1
1,movie2,3,0,1,3,0,0,0,0,0,0
2,movie3,0,3,0,4,0,2,0,0,0,2
3,movie4,5,2,3,2,0,4,3,3,0,0
4,movie5,0,5,5,0,0,0,0,0,5,4
5,movie6,0,0,0,0,4,0,4,2,3,0
6,movie7,4,4,0,0,4,4,3,4,0,4
7,movie8,5,0,4,2,3,0,3,3,3,3
8,movie9,0,3,0,0,5,5,0,4,0,0
9,movie10,2,0,0,0,0,0,0,0,4,0

In [6]:
from sklearn.neighbors import NearestNeighbors
knn=NearestNeighbors(metric="cosine", algorithm='brute')
knn.fit(data.iloc[:,1:11].values)

NearestNeighbors(algorithm='brute', metric='cosine')

In [7]:
distances, indices=knn.kneighbors(data.iloc[:,1:11].values, n_neighbors=3)

In [8]:
indices

array([[0, 7, 5],
       [1, 3, 7],
       [2, 1, 6],
       [3, 6, 7],
       [4, 0, 7],
       [5, 7, 0],
       [6, 8, 3],
       [7, 3, 0],
       [8, 6, 3],
       [9, 0, 7]], dtype=int64)

In [9]:
distances

array([[0.00000000e+00, 3.19586183e-01, 4.03404722e-01],
       [4.44089210e-16, 3.68421053e-01, 3.95436458e-01],
       [0.00000000e+00, 5.20766162e-01, 5.24329288e-01],
       [2.22044605e-16, 2.72367798e-01, 2.86615021e-01],
       [0.00000000e+00, 4.04534842e-01, 4.80655057e-01],
       [0.00000000e+00, 3.87174123e-01, 4.03404722e-01],
       [0.00000000e+00, 2.33726809e-01, 2.72367798e-01],
       [1.11022302e-16, 2.86615021e-01, 3.19586183e-01],
       [2.22044605e-16, 2.33726809e-01, 4.96677704e-01],
       [1.11022302e-16, 4.22649731e-01, 4.81455027e-01]])

In [10]:
index_formovie= data.index.to_list().index('movie1')

ValueError: 'movie1' is not in list