In [1]:
import pandas as pd

In [19]:
data=pd.read_csv("F:\Academics\MSC\Semester3\MachineLearning2\movierating.csv")

In [20]:
data

,movie,user0,user1,user2,user3,user4,user5,user6,user7,user8,user9
0,movie0,0,0,3,4,2,1,2,0,5,1
1,movie1,3,0,1,3,0,0,0,0,0,0
2,movie2,0,3,0,4,0,2,0,0,0,2
3,movie3,5,2,3,2,0,4,3,3,0,0
4,movie4,0,5,5,0,0,0,0,0,5,4
5,movie5,0,0,0,0,4,0,4,2,3,0
6,movie6,4,4,0,0,4,4,3,4,0,4
7,movie7,5,0,4,2,3,0,3,3,3,3
8,movie8,0,3,0,0,5,5,0,4,0,0
9,movie9,2,0,0,0,0,0,0,0,4,0

In [21]:
from sklearn.neighbors import NearestNeighbors
knn=NearestNeighbors(metric="cosine",algorithm='brute')
knn.fit(data.iloc[:,1:11].values)

NearestNeighbors(algorithm='brute', metric='cosine')

In [22]:
distances,indices=knn.kneighbors(data.iloc[:,1:11].values,n_neighbors=3)

In [23]:
indices

array([[0, 7, 5],
       [1, 3, 7],
       [2, 1, 6],
       [3, 6, 7],
       [4, 0, 7],
       [5, 7, 0],
       [6, 8, 3],
       [7, 3, 0],
       [8, 6, 3],
       [9, 0, 7]], dtype=int64)

In [24]:
distances

array([[0.00000000e+00, 3.19586183e-01, 4.03404722e-01],
       [4.44089210e-16, 3.68421053e-01, 3.95436458e-01],
       [0.00000000e+00, 5.20766162e-01, 5.24329288e-01],
       [2.22044605e-16, 2.72367798e-01, 2.86615021e-01],
       [0.00000000e+00, 4.04534842e-01, 4.80655057e-01],
       [0.00000000e+00, 3.87174123e-01, 4.03404722e-01],
       [0.00000000e+00, 2.33726809e-01, 2.72367798e-01],
       [1.11022302e-16, 2.86615021e-01, 3.19586183e-01],
       [2.22044605e-16, 2.33726809e-01, 4.96677704e-01],
       [1.11022302e-16, 4.22649731e-01, 4.81455027e-01]])

In [27]:
index_formovie=data.index.tolist().index("movie1")

In [28]:
index_formovie

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
ct=pd.crosstab(data['movie'],data['user1'])
ct

user1   0  2  3  4  5
movie
movie0  1  0  0  0  0
movie1  1  0  0  0  0
movie2  0  0  1  0  0
movie3  0  1  0  0  0
movie4  0  0  0  0  1
movie5  1  0  0  0  0
movie6  0  0  0  1  0
movie7  1  0  0  0  0
movie8  0  0  1  0  0
movie9  1  0  0  0  0

In [36]:
def pandas_df_to_markdown_table(data):
    from IPython.display import Markdown, display
    fmt = ['---' for i in range(len(data.columns))]
    df_fmt = pd.DataFrame([fmt], columns=data.columns)
    df_formatted = pd.concat([df_fmt, data])
    display(Markdown(df_formatted.to_csv(sep="|", index=False)))

a=pandas_df_to_markdown_table(data)

movie|user0|user1|user2|user3|user4|user5|user6|user7|user8|user9
---|---|---|---|---|---|---|---|---|---|---
movie0|0|0|3|4|2|1|2|0|5|1
movie1|3|0|1|3|0|0|0|0|0|0
movie2|0|3|0|4|0|2|0|0|0|2
movie3|5|2|3|2|0|4|3|3|0|0
movie4|0|5|5|0|0|0|0|0|5|4
movie5|0|0|0|0|4|0|4|2|3|0
movie6|4|4|0|0|4|4|3|4|0|4
movie7|5|0|4|2|3|0|3|3|3|3
movie8|0|3|0|0|5|5|0|4|0|0
movie9|2|0|0|0|0|0|0|0|4|0

In [38]:
index_formovie=pandas_df_to_markdown_table(data).index.tolist().index("movie1")

movie|user0|user1|user2|user3|user4|user5|user6|user7|user8|user9
---|---|---|---|---|---|---|---|---|---|---
movie0|0|0|3|4|2|1|2|0|5|1
movie1|3|0|1|3|0|0|0|0|0|0
movie2|0|3|0|4|0|2|0|0|0|2
movie3|5|2|3|2|0|4|3|3|0|0
movie4|0|5|5|0|0|0|0|0|5|4
movie5|0|0|0|0|4|0|4|2|3|0
movie6|4|4|0|0|4|4|3|4|0|4
movie7|5|0|4|2|3|0|3|3|3|3
movie8|0|3|0|0|5|5|0|4|0|0
movie9|2|0|0|0|0|0|0|0|4|0

AttributeError: 'NoneType' object has no attribute 'index'